/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#191c1f;
	--color-text-white:#fff;
	--color-text-gray:#6d747d;
	--color-background:#fff;
	--color-card:#edf2f5;
	--color-card-black:#1a1c20;
	--color-btn-gray: #b1b9c5;
	--color-btn-dark: #2d3033;
	--color-background-footer: #1a1c1f;
}





/****************/
/* MIJN STYLING */
/****************/

/* mijn code */
* {
	margin: 0px;
	padding: 0px;
}

body {
  color:var(--color-text);
  background-color:var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

main {
	max-width: 1280px;
	margin: auto;
}

footer {
	background-color: var(--color-background-footer);
	color: var(--color-text-white);
	max-width: 1280px;
	margin: auto;
}

ul {
    list-style-type: none;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	font-weight: 300;
}

a {
	font-size: 0.875em;
	color: var(--color-text-white);
}

h2 {
	font-size: 1.75em;
	font-weight: 400;
}

h3 {
	font-size: 1em;
	font-weight: 800;
}

img {
	width: 100%;
}



/****************/
/*    HEADER    */
/****************/
header {
	display: grid;
	padding: 1.2em;
	grid-template-columns: 1fr 1fr 1fr;
	z-index: 9999;
    position: fixed;
    background: var(--color-background);
	width: 100%;
}

header button {
	max-width: fit-content;
}

header img {
	width: 100%;
	height: 1em;
}

/****************/
/*     HERO     */
/****************/
/* Hero image */
/* Color en gap nog aanpassen */
/* Hoe krijg ik knoppen naast elkaar? Met grid!? */
section:nth-of-type(1) h1, main ul:nth-of-type(1) h2{
	position: fixed;
	left: -1000000em;
}

main section:nth-of-type(1) {
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
    flex-direction: column;
    justify-content: end;
	padding: 1.5625em;
	color: var(--color-text-white);
	gap: 1em;
}

main section:nth-of-type(1) p:nth-of-type(1), 
main ul:nth-of-type(3) li:nth-of-type(2) p:nth-of-type(1), 
main ul:nth-of-type(3) li:nth-of-type(3) p:nth-of-type(1),
main section:nth-of-type(2) p:nth-of-type(1) {
	order: -1;
}

video {
	object-fit: cover;
  	height: 80vh;
 	width: 100%;
  	position: absolute;
 	top: 0;
	left: 0;
	z-index: -1;
}

main section:nth-of-type(1) a:nth-of-type(1) {
	width: fit-content;
	padding: 0.8em 1.6em;
	margin-right: 0.625em;
	border-radius: 28px;
    background-color: transparent;
    color: var(--color-text-white);
    border: 2px solid var(--color-text-white);
}

main section:nth-of-type(1) a:nth-of-type(2) {
	width: fit-content;
	padding: 0.8em 1.6em;
	border-radius: 28px;
    background-color: var(--color-background);
    color: var(--color-text);
}

main section:nth-of-type(1) p {
	font-size: 1.125em;
	max-width: 26em;
}

@media (min-width: 678px)  {
	section:nth-of-type(1) div {
		display: flex;
	}
}

@media (max-width: 380px) {
	main section:nth-of-type(1) div {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}

@media (min-width: 1024px) {
	main section:nth-of-type(1) {
		justify-content: center;
	}

	main section:nth-of-type(1) h2 {
		font-size: 3em;
	}
}
/****************/
/*    FIETSEN   */
/****************/
section:nth-of-type(2) {
	padding: 1.25em;
}

main ul:nth-of-type(1) li, main ul:nth-of-type(2) li {
	background-image: url(../images/VanMoof_S5.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 35em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin:1.25em;
	text-align: center;
	padding: 4em 1.25em;
	max-height: 45rem;
	background-position: right;
}

main ul:nth-of-type(1) li:nth-of-type(2) {
	background-image: url(../images/VanMoof_A5.jpeg);
}

main ul:nth-of-type(2) li:nth-of-type(1) {
	background-image: url(../images/VanMoof_S3.jpeg);
}

main ul:nth-of-type(2) li:nth-of-type(2) {
	background-image: url(../images/VanMoof_X3.jpeg);
}

main ul:nth-of-type(2) li:nth-of-type(3) {
	background-image: url(../images/VanMoof_Accessories.jpeg);
}

main ul:nth-of-type(1) li p:nth-of-type(1), main ul:nth-of-type(2) li p:nth-of-type(1) {
	font-size: 1.375em;
	font-weight: 800;
}

main ul:nth-of-type(1) li p:nth-of-type(2), main ul:nth-of-type(2) li p:nth-of-type(2) {
	color: var(--color-text-gray);
}

main ul:nth-of-type(1) li a, main ul:nth-of-type(2) li a {
	width: fit-content;
	padding: 0.8em 1.6em;
	border-radius: 28px;
    background-color: transparent;
    color: var(--color-text);
    border: 2px solid var(--color-btn-gray);
	margin: 0em auto;
}

@media (min-width: 678px)  {
	main ul:nth-of-type(1), main ul:nth-of-type(2) {
	display: flex;
	}

	main ul:nth-of-type(1) li {
	height: 45em;
	}

	ul:nth-of-type(1) li {
		flex: 50%;
	}
	ul:nth-of-type(2) li {
		flex: 33%;
	}
}

/****************/
/*    EXTRA BLOKKEN   */
/****************/
main ul:nth-of-type(3) li {
	display: flex;
	flex-direction: column;
}

main ul:nth-of-type(3) {
	margin: 1.25em;
}

main ul:nth-of-type(3) li div{
	background-color:var(--color-card);
	padding: 3em 1.25em 2.5em;
	display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

main ul:nth-of-type(3) li:nth-of-type(3) div{
	background-color:var(--color-card-black);
	color:var(--color-text-white);
}

li img {
	max-width: 100%;
}

main ul:nth-of-type(3) li div a {
	width: fit-content;
	padding: 0.8em 1.6em;
	border-radius: 28px;
    background-color: var(--color-btn-dark);
    color: var(--color-text-white);
}

main ul:nth-of-type(3) li:nth-of-type(3) div a {
    background-color: var(--color-btn-dark);
    color: var(--color-text-white);
}

@media (min-width: 678px)  {
	main ul:nth-of-type(3) {
		display: flex;
		flex-wrap: wrap;
	}

	main ul:nth-of-type(3) li {
		flex-direction: row;
		height: 36.25em;
	}

	main ul:nth-of-type(3) img {
		object-fit: cover;
	}

	main ul:nth-of-type(3) li:nth-of-type(2) {
		flex-direction: row-reverse;
	}

	main ul:nth-of-type(3) li div, main ul:nth-of-type(3) li img {
		width: 50%;
	}

	main ul:nth-of-type(3) li div{
		padding: 3em 4em;
	}
}

/* main ul:nth-of-type(3) li:nth-of-type(2) div p:nth-of-type(1) { 
	order: -1;
}*/

/* Laatste section */

main section:nth-of-type(2){
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	display: flex;
    flex-direction: column;
    justify-content: end;
	padding: 1.5625em;
	color: var(--color-text-white);
	gap: 1em;
	background-image: url(../images/M_TestRides.png);
	max-width: 100%;
}

main section:nth-of-type(2) a{
	padding: 0.8em 1.6em;
	border-radius: 28px;
    background-color: var(--color-background);
    color: var(--color-text);
	text-align: center;
}



@media (min-width: 1024px) {
	main section:nth-of-type(2) {
		justify-content: center;
	}

	main section:nth-of-type(2) a {
		width: fit-content;
	}

	main section:nth-of-type(2) h2 {
		font-size: 3em;
	}

	main section:nth-of-type(2) p, main section:nth-of-type(2) h2 {
		max-width: 26em;
	}
}

/****************/
/*    FOOTER    */
/****************/

/* STYLING FOOTER */

footer ul:nth-of-type(2) li, footer ul:nth-of-type(6), footer ul:nth-of-type(7) {
	border-bottom-style: solid;
	border-color: var(--color-text-gray);
    padding: 1.5em 0;
	border-width: 0.03125em;
}

footer h3 {
	font-size: 2em;
}

/* USP's */

footer ul:nth-of-type(1) li {
	padding: 1.5em 1.25em;
    background-color: #2d3033;
	display: flex;
	gap: 1em;
}

footer ul:nth-of-type(1) li img {
	width: 1.5em;
}

@media (min-width: 1024px) {
	footer ul:nth-of-type(1) {
		display: flex;
	}
}

/* Eerste blok */

footer section {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 4em 1.25em 1.5em;
}

footer section div {
	display: flex;
    justify-content: space-between;
}

footer section div:nth-of-type(1) p {
	max-width: 13.75em;
}

footer section div:nth-of-type(2) {
	padding: 0.875em 1.25em;
	height: 3.5em;
    border-radius: 32px;
    background-color: #3e4246;
	position: relative;
}

footer section div input {
    color: #b1b9c5;
    line-height: 1.5em;
	background-color: transparent;
	border: 2px solid transparent;
}

footer section div:nth-of-type(1) button {
	background-color: var(--color-btn-gray);
    border-radius: 50%;
    color: var(--color-text-white);
    width: 3em;
    height: 3em;
}

footer section div:nth-of-type(2) button {
	background-color: var(--color-text);
    border-radius: 50%;
    color: var(--color-text-white);
    position: absolute;
    top: 15%;
    right: 1em;
    width: 3em;
    height: 3em;
}

/* Footer menu */

footer ul:nth-of-type(2) {
	padding: 1.5em 1.25em;
}

footer ul:nth-of-type(2) li {
	display: flex;
	justify-content: space-between;
}

/* footer ul:nth-of-type(3), footer ul:nth-of-type(4), footer ul:nth-of-type(5) {
	display: none;
} */

/* @media (min-width: 992px)  {
	footer ul:nth-of-type(2) {
		display: none;
	}

	footer ul:nth-of-type(3), footer ul:nth-of-type(4), footer ul:nth-of-type(5) {
		display: flex;
		flex-direction: column;
	}
} */

/* Socials */

footer ul:nth-of-type(3) {
	padding: 1.5em 1.25em;
	display: flex;
	gap: 1.5em;
    filter: contrast(0.2);
}

/* Betaal icoontjes */

footer ul:nth-of-type(4) {
	padding: 1.5em 1.25em;
	display: flex;
	gap: 1em;
}

/* Laatste links */

footer ul:nth-of-type(5) {
	padding: 1.5em 1.25em;
	display: flex;
    flex-direction: column;
    gap: 1.5em;
}